<div class="top-strip"></div>
<div class="content">
<main class="container">
    <div class="row-fluid">
            <section class="content">
            <h1>Páginas de Lemol-C</h1>
            </section>
            <section class="home-hello">
                <blockquote>
                    <p>Olá, eu sou o <b>Leza Morais Lutonda</b>, e 
                    a baixo vai a lista das últimas entradas no meu blog.</p>
                    <p>Pode seguir-me no <a href="http://twitter.com/lemolsoft">twitter</a> 
                    ou no <a href="http://github.com/lemol">github</a>, ou contactar-me 
                    por <a href="mailto:lemol-c@hotmail.com">e-mail</a>.</p>
                    <p>Para saber mais sobre mim <a href="/about.html">clique aqui</a>.</p>
                </blockquote>
            </section>
            <ul class="entries">
            $for(posts)$
                <li>
                <a href="$url$">
                    <span>$date$</span>
                    <h3>$title$</h3>
                    <div>$abstract$</div>
                </a>
                </li>
            $endfor$
            </ul>
    </div>
    <hr>
</main>
</div>

